extends ../layout

block head
  - var title = mkTitle(meta.title, "World")
  - var description = avalon.website.index.description
  - var keywords = avalon.website.index.keywords
  - var canonical = "http://www.avalon-rpg.com/world/affairs"

block content
  .ui.content.city
    .contain
      h1.ui.title Affairs
      for affair in meta.affairs
        h2.ui.title.overline #{affair.village}
        p #{JSON.stringify(affair)}