extends ../layout

block lumiere
  - var title = "Lumiere : Avalon : Online Fantasy World Flash Game Client";
  - var keywords=  "online fantasy world, online fantasy game, fantasy world, flash game, flash client, game client, game interface, online fantasy, massive multiplayer game, massive, multiplayer, online game, role-playing game";
  - var description="Lumiere is an online fantasy world Flash game interface to the world of Avalon. It allows interaction with other real people in a massive multiplayer game of unparalleled size and beauty. Lumiere runs in any modern browser with Shockwave Flash 10 or higher and it is to become the replacement for Javalon, Avalon's former official Java Game Client.";
  link(rel="canonical", href="http://www.avalon-rpg.com/play/lumiere")

block content
  .ui.content
    .contain
      h1 lumiere