.ui.footer
  img(src="/img/wax.png", style="position: absolute; right: 0px; top: 0px; height: 250px")
  .contain
    .ui.four.columns.grid.responsive
      
      .column
        h3.ui.title.underline World
        ul.ui.inverted.vertical.menu
          li: a.item(href="/intro/") Intro
          li: a.item(href="/history/") History
          li: a.item(href="/world/") World
          li: a.item(href="/maps/") Maps
          li: a.item(href="/news/") News
      
      .column
        h3.ui.title.underline Gameplay
        ul.ui.inverted.vertical.menu
          li: a.item(href="/play/") Play Now
          li: a.item(href="/help/") Manual
          li: a.item(href="/connect/index.html") Mud Clients
        h3.ui.title.underline Telnet
        p Host: 
          b avalon-rpg.com
        p Port: 
          b 23

      .column
        h3.ui.title.underline About
        ul.ui.inverted.vertical.menu
          li: a.item(href="/help/pages/privacy") Privacy Policy
          li: a.item(href="/help/pages/terms") Terms &amp; Agreements
          li: a.item(href="/vote.html") Vote to Support Us
          li: a.item(href="/site_map.html") Sitemap

      .column
        h3.ui.title.underline Contact
        ul.ui.inverted.social.vertical.menu
          li: a.item(href="/help/pages/contact") Contact
          li: a.item(href="http://www.meetplace.net", target="_blank") Meetplace Community
          li: a.social.facebook.item(href="https://www.facebook.com/pages/Avalon-the-Legend-Lives-Game-Page/184129298274122", target="_blank") Facebook
          li: a.social.twitter.item(href="https://twitter.com/AvalonOnlineRPG", target="_blank") Twitter