.ui.footer
  img(src="/img/wax.png", style="position: absolute; right: 0px; top: 0px; height: 250px")
  .contain
    .ui.four.columns.grid.responsive
      
      .column
        h3.ui.title.underline World
        ul.ui.inverted.vertical.menu
          li: a.item(href="/intro/") Intro
          li: a.item(href="/world/news") News
          li: a.item(href="/world/history") History
          li: a.item(href="/world/maps") Maps
          li: a.item(href="/world/cities") Cities
          li: a.item(href="/world/guilds") Guilds
      
      .column
        h3.ui.title.underline Gameplay
        ul.ui.inverted.vertical.menu
          li: a.item(href="/world/intro") Play Now
          li: a.item(href="/world/news") Mud Clients
          li: a.item(href="/world/history") Manual
          li: a.item(href="/world/maps") Maps
          li: a.item(href="/world/cities") Cities
          li: a.item(href="/world/guilds") Guilds
        h3.ui.title.underline Telnet
        p Host: 
          b avalon-rpg.com
        p Port: 
          b 23

      .column
        h3.ui.title.underline About
        ul.ui.inverted.vertical.menu
          li: a.item(href="/help/privacy") Privacy Policy
          li: a.item(href="/help/terms") News
          li: a.item(href="/vote/") Vote to Support Us
          li: a.item(href="/sitemap/") Sitemap

      .column
        h3.ui.title.underline Contact
        ul.ui.inverted.social.vertical.menu
          li: a.item(href="/contact/") Contact
          li: a.social.facebook.item(href="/help/terms") Facebook
          li: a.social.twitter.item(href="/vote/") Twitter