.ui.footer
  img(src="/img/wax.png", style="position: absolute; right: 0px; top: 0px; height: 250px")
  .contain
    .ui.five.columns.grid.responsive
      
      .column
        h3.ui.title.underline World
        ul.ui.inverted.vertical.menu
          li: a.item(href="/intro/") Intro
          li: a.item(href="/history/") History
          li: a.item(href="/world/") World
          li: a.item(href="/maps/") Maps
          li: a.item(href="/news/") News
      
      .column
        h3.ui.title.underline Gameplay
        ul.ui.inverted.vertical.menu
          li: a.item(href="/play/") Play Now
          li: a.item(href="/help/") Guide
          li: a.item(href="/connect") Mud Clients
        h3.ui.title.underline Telnet
          a.right.label.umbra(href="http://umbra.avalon-rpg.com", title="umbra.avalon-rpg.com") Umbra
        p Host: 
          b avalon-rpg.com
        p Port: 
          b 23

      .column
        h3.ui.title.underline About
        ul.ui.inverted.vertical.menu
          li: a.item(href="/help/pages/privacy") Privacy Policy
          li: a.item(href="/help/pages/terms") Terms &amp; Agreements
          li: a.item(href="/vote") Vote to Support Us
          li: a.item(href="/site_map") Sitemap

      .column
        h3.ui.title.underline Contact
        ul.ui.inverted.social.vertical.menu
          li: a.item(href="/help/pages/contact") Contact
          li: a.item(href="http://www.meetplace.net", target="_blank") Meetplace Community
          li: a.social.facebook.item(href="https://www.facebook.com/pages/Avalon-the-Legend-Lives-Game-Page/184129298274122", target="_blank") Facebook
          li: a.social.twitter.item(href="https://twitter.com/AvalonOnlineRPG", target="_blank") Twitter

      .column
        h3.ui.title.underline Share
        ul.ui.inverted.vertical.menu
          a(href="JavaScript:window.open('https://twitter.com/share?url='+window.location.href+'&text=&via=AvalonOnlineRPG','','width=657,height=400,scrollbars=1')", target="_blank").ui.button.twitter.item
            i.icon.twitter
            | Tweet
          a(href="JavaScript:window.open('http://www.facebook.com/sharer.php?u='+window.location.href,'','width=657,height=400,scrollbars=1')", target="_blank").ui.button.facebook.item
            i.icon.facebook
            | Facebook
          a(href="https://plus.google.com/share?url=http://www.avalon-rpg.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").ui.button.google.plus.item
            i.icon.google.plus
            | Post