style.
  html, body {
    background: #000A12;
    border: 0;
    font-family: "Alegreya", "Times New Roman", "Times", serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  body {
    background: #13161A;
    background: url("/img/pattern/bg.jpg");
    color: #fff;
  }
  a {
    color: #D2B063;
    text-decoration: none;
  }
  .contain {
    max-width: 1024px;
    margin: auto;
  }