meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='apple-mobile-web-app-capable', content='yes')
link(rel="icon", href="/img/favicon.ico")
//if IE
  link(rel='shortcut icon', href='img/favicon.ico')
link(rel='apple-touch-icon-precomposed', href='/img/favicon/favicon-152.png')
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='/img/favicon/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/img/favicon/favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/favicon/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/img/favicon/favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/favicon/favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/favicon/favicon-72.png')
link(rel='apple-touch-icon-precomposed', href='/img/favicon/favicon-57.png')
// if IE
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>