mixin background-gradient-image(id, url)
  style.
    ##{id} {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.9))), url(#{url});
      background-image: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(#{url});
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(#{url});
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      -o-background-size: 100%;
      -moz-background-size: 100%;
      -webkit-background-size: 100%;
      background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
    }