.block
  ul.ui.menu.fluid.two.items.switch
    .item.active(data-type="create") Create New Character
    .item(data-type="login") Login
  .content
    form(method="post", action="/lumiere/").ui.login.form#createForm
      .field.user
        .ui.input
          label(for="create-username", title="3 characters minimum, letters only. Be sure to choose a name appropriate for a fantasy game-world setting.")
            | Character Name (no spaces or numbers)
            i.icon.question.mark
          input#create-username(type="text", name="username", minlength=3, maxlength=18, required)
      .fields
        .eight.wide.field
          .ui.input
            label(for="create-password", title="3 characters minimum, may include letters, numbers and punctuation, but no spaces, carets or tildes. Example - s_ecr3.t.")
              | Password (no spaces)
              i.icon.question.mark
            input(name="password", type="password", minlength=3, maxlength=50, required)#create-password
        .eight.wide.input.field
          label(for="create-confirmpass") Confirm Password
          input(name="confirmpass", type="password")#create-confirmpass
      .field
        label(for="create-email", title="Entering your e-mail address will ensure that your character is saved when you exit as we regularly delete unregistered characters to make room for new players.")
          | Email
          i.icon.question.mark
        input(type="email", name="email", placeholder="myaddress@example.com")#create-email
      .fields
        .eight.center.wide.input.field
          .ui.radio.checkbox
            input#create-male(type="radio", name="gender", value="male", checked="checked")
            label(for="create-male")
              i.icon.man
              | Male
        .eight.center.wide.input.field
          .ui.radio.checkbox
            input#create-female(type="radio", name="gender", value="female")
            label(for="create-female")
              i.icon.woman
              | Female
      .fields
        .four.center.wide.field Client:
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#create-umbra(type="radio", name="run", value="umbra", checked=avalon.website.default_client == "umbra")
            label(for="create-umbra") Umbra
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#create-lumiere(type="radio", name="run", value="lumiere", checked=avalon.website.default_client == "lumiere")
            label(for="create-lumiere") Lumiere
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#create-javalon(type="radio", name="run", value="applet", checked=avalon.website.default_client == "applet")
            label(for="create-javalon") Javalon
        input(type="hidden", name="create", value="yes")
        input(type="hidden", name="loginkey", value="")
      input(type="submit", value="Create New Character", style="margin-top: 16px;").ui.button.save.fluid
    form(method="post", action="/lumiere/").ui.hidden.login.form#loginForm
      .field.user
        .ui.input
          label(for="login-username", title="3 characters minimum, letters only. Be sure to choose a name appropriate for a fantasy game-world setting.")
            | Character Name (no spaces or numbers)
            i.icon.question.mark
          input#login-username(type="text", name="username", minlength=3, maxlength=18, required)
      .field
        .ui.input
          label(for="login-password", title="3 characters minimum, may include letters, numbers and punctuation, but no spaces, carets or tildes. Example - s_ecr3.t.")
            | Password (no spaces)
            i.icon.question.mark
          input(name="password", type="password", minlength=3, maxlength=50, required)#login-password
      .fields
        .four.center.wide.field Client:
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#login-lumiere(type="radio", name="run", value="lumiere", checked="checked")
            label(for="login-lumiere") Lumiere
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#login-umbra(type="radio", name="run", value="umbra")
            label(for="login-umbra") Umbra
        .four.center.wide.input.field
          .ui.radio.checkbox
            input#login-javalon(type="radio", name="run", value="applet")
            label(for="login-javalon") Javalon
        input(type="hidden", name="create", value="no")
        input(type="hidden", name="loginkey", value="")
      input(type="submit", value="Login", style="margin-top: 16px;").ui.button.save.fluid
