if title
  title #{title}
  meta(property='og:title', content='#{title}')
else
  title Avalon - The First Online Text Based Roleplaying Game
  meta(property='og:title', content='Avalon - The First Online Text Based Roleplaying Game')
if description
  meta(name='description', content='#{description}')
else if (description === false)
  
else
  meta(name="description", content="Avalon, the premier role-playing game. Windows and Java game client for immediate play. 'The most complex, atmospheric role-playing game on the net.")
if keywords
  meta(name='keywords', content='#{keywords}')
else
  meta(name='keywords', content='role-playing game, RPG, RPGS, multiplayer games, interactive games, multiuser games, adventure games, fantasy games')