.ui.topbar
  .ui.menu.very.tiny.contain
    .left.menu
      a.item(href="/") Avalon RPG
      a.item(href="/intro/") Intro
      a.item(href="/news/") News
      a.item(href="/help/") Help
      a.item(href="/history/") History
      a.item(href="/maps/") Maps
      a.item(href="/citguilds/") Cities &amp; Guilds

    .right.menu
      if (avalon && avalon.users)
        li.item #{avalon.users().length} Players Online
      li: a.item(href="http://www.meetplace.net", target="_blank") Meetplace Community
      li: a.item(href="/press/") Contact
      li: a.item(href="/play/").playnow Play Now