.ui.topbar
  .ui.menu.very.tiny.contain
    .left.menu
      a.item(href="/") Avalon RPG
      li: a.item(href="/intro/") Introduction
      li.item
        a(href="/world/") World
        i.icon.triangle.down
      li.item
        a(href="/game/") Gameplay
        i.icon.triangle.down
      li.item
        a(href="/about/") About
        i.icon.triangle.down
      li: a.item(href="/contact/") Contact
    .right.menu
      li: a.item(href="/who/") 50 Players Online
      li: a.item(href="/manual/") Manual
      li: a.item(href="/contact/") Contact Us
      li: a.item(href="http://www.meetplace.com") Meetplace Community
      li: a.item(href="/play/").playnow Play Now