extends ../layout

block head
  - var title = "History of This Roleplaying World - Avalon Online RPG"
  - var description = false
  link(rel="canonical", href="http://www.avalon-rpg.com/history/")
block content
  .ui.content
    .contain
      h2.ui.title.center.underline History of This Roleplaying World
      p.lead Avalon is a living, evolving world. Its history is written by its players - mortal and Gods. Their successes and heroism write the histories you read here. It is one of the most appealing aspects of Avalon to be able to take part in great events, to affect and even shape the land.

      .section.history.ui.box
        .ui.grid.responsive.two.columns
          .column
            h4.ui.title: a(href="/history/modernhistory") Modern History
            | Histories covering Avalon's modern times, from the stepping of the first players into the land through to the latest wars and great conflicts.
          .column
            h4.ui.title: a(href="/history/ancienthistory") Ancient History
            | Mythologies and pre-written histories from Avalon's birth and early histories. These mythologies form the basis of the continent but were formed before the first mortal players were alive.
          .column
            h4.ui.title: a(href="/history/ordinations") Ordinations
            | The most exciting and important events of Avalon - the great culimation of gem quests and conflicts where the greatest mortals compete for the prize of Godhood.
          .column
            h4.ui.title: a(href="/rollcall") Roll-Call
            | A comprehensive roll-call of all noteworthy Avalonians.
      

      .ui.box
        h2.ui.title.center.underline A Rookie's Ascension to Godliness
        p Entering the mythical and mysterious world of Avalon was a wholly unique experience. My greenhorn status - a still unproven weakling on a crash course with reality - kept me out of the proverbial gamers' loop. Unlike online games I've previously grown accustomed to, Avalon was my first venture into a role-playing world. Nevertheless, I was utterly determined to leave an instant and enduring stamp of my presence on the unsuspecting world of Avalon.
        p An hour into the game, complications arose. Contrasting my preconceived plan of swift domination, I found Avalon to be a challenging venture. To my delight, however, I found more than a few willing game players to help my transition's ease. As a lowly mortal, my hide was at constant risk from various sorcerers, dragons, goblins, and other undesirable - yet all exciting - characters. The more I learned of Avalon from my kindly guides, the more at home I seemed: Instead of pressing the issue and hoping to instantly take over, a player's role in the world is gradual and continuous.
        p Many of Avalon's players have been around for years. As such, they're skilled beyond a beginner's comprehension. Reaching out and requesting guidance from a veteran participant is a wise move that will undoubtedly help in the long run.
        blockquote.big.center
          p This is an epic RPG adventure, created by the users which make it exciting!
      .ui.box     
        p We are always happy to accept contributions like the one above, providing they satisfy a reasonably high standard of writing quality, describing events or important aspects of Avalon life. Send any submissions you have to 
          a(href="mailto:support@avalon-rpg.com") support@avalon-rpg.com.