extends ../layout

block head
  - var title = "Modern History - Avalon - Multiuser Gameworld"
  - var description = false
  
block content
  .ui.content
    .contain
      h2.ui.title.center.underline Modern History
      .section.modernhistory
        .ui.grid.responsive.two.columns
          .column
            h4.ui.title: a(href="/help/pages/springtown") Springtown
            | The rise of Springdale.
          .column
            h4.ui.title: a(href="/help/pages/siegeparrius") Siege of Parrius
            | The Siege of Parrius.
          .column
            h4.ui.title: a(href="/help/pages/birth") Parrius
            | The birth of Parrius.
          .column
            h4.ui.title: a(href="/help/pages/invasion") Invasion of Mercinae
            | The first falling of Mercinae.
          .column
            h4.ui.title: a(href="/help/pages/secondborn") Second Born
            | The second generation of legendary mortals who shaped the land.
          .column
            h4.ui.title: a(href="/help/pages/marriage") First Marriage
            | The first coupling between a male and female mortal.
          .column
            h4.ui.title: a(href="/help/pages/firstmasters") First Guildmasters
            | The first Guildmasters of the various guilds throughout the land.
          .column
            h4.ui.title: a(href="/help/pages/firstborn") First Born
            | The first mortals to set foot in the land.
          .column
            h4.ui.title: a(href="/help/pages/firstgods") First Gods
            | The Gods who created the land, and those deities appointed by them.
          .column
            h4.ui.title: a(href="/help/pages/divinehistory") Deities
            | A brief roll-call of the deities of Avalon.