extends ../layout

block head
  - var title = "Ordinations - the greatest event in the land - Avalon - Multiuser Gameworld"
  - var description = false

block content
  .ui.content
    .contain
      h2.ui.title.center Ordinations
      h4.sub.title.center.ui.underline The Greatest Event in the Land
      p The most exciting event, written to occur every 6 months - is the ordination of a single mortal player in to the greatest achievement - a God. Many of the best past players have followed this path and continue to play an active role in the land to this day.
      p To compete for an ordination you must know your character's battle and endurance skills well - you must have also competed in a quest to win a divine gem, which will further certain abilities. This section gives the specifics of many of the competitive ordinations.

      .section.ordinations
        .ui.grid.responsive.two.columns
          .column
            h4.ui.title: a(href="/help/pages/starsgod") Elmaethor
            | Appointment of Elmaethor, god of the stars.
          .column
            h4.ui.title: a(href="/help/pages/appvengeance") Xanthe
            | The appointment of Xanthe, goddess of vengeance.
          .column
            h4.ui.title: a(href="/help/pages/appointearth") Sylvanus
            | Appointment of Sylvanus, god of the earth.
          .column
            h4.ui.title: a(href="/help/pages/appointsea") Proteus
            | The appointment of Proteus, god of the sea
          .column
            h4.ui.title: a(href="/help/pages/appointmoon") Ashvani
            | Appointment of Ashvani, goddess of the moon.
          .column
            h4.ui.title: a(href="/help/pages/appointlife") Brigantia
            | The appointment of Brigantia, goddess of nature.
          .column
            h4.ui.title: a(href="/help/pages/sungod") Aethon
            | The Ordination of Aethon, the sun-god.
          .column
            h4.ui.title: a(href="/help/pages/firegod") Loki
            | The Ordination of Loki, god of fire.
          .column
            h4.ui.title: a(href="/help/pages/doomgod") Malhavok
            | The Ordination of Malhavok, the god of doom.
          .column
            h4.ui.title: a(href="/help/pages/chaosgod") Damocles
            | The Ordination of Damocles, the god of chaos.
          .column
            h4.ui.title: a(href="/help/pages/lazarus") Lazarus
            | The Ordination of Lazarus, the god of pain.
          .column
            h4.ui.title: a(href="/help/pages/fategod") Orthwein
            | The Ordination of Orthwein, the god of fate.
          .column
            h4.ui.title: a(href="/help/pages/darkgod") Nostradamus
            | The Ordination of Nostradamus, god of darkness.
          .column
            h4.ui.title: a(href="/help/pages/nightgod") Mephisto
            | The Ordination of Mephisto, god of the night.
          .column
            h4.ui.title: a(href="/help/pages/justicegod") Castigere
            | The Ordination of Castigere, the god of justice.
          .column
            h4.ui.title: a(href="/help/pages/forestgod") Maedhros
            | The Ordination of Maedhros, the Hunter.