extends layout

block content
  .ui.content
    .contain
      h1.ui.title.center Welcome to Avalon, the Legend Lives
      h4.ui.sub.title.center.underline The first &amp; only game world of its kind
      p.lead Welcome to Avalon, the most detailed, original and immersive text based game on the internet. In existence for over two decades, it is also one of the oldest RPGs. It has evolved consistently over this time, boasting the highest standards; as a multiplayer online RPG text based game, it's unparalleled in its creativity and diversity. Only by your own merits can you rise above the rest and only the best ascend to the stars, becoming one of the all-powerful immortals. Are you ready to make history in this breathtaking world of legendary Avalonians and Gods?

  .ui.content
    .contain
      ul.ui.simple.vertical.menu
        li.item Over Twenty-Five Years of Development
        li.item The First Online Text Based Game with guilds, cities:<br/> total world simulation
        li.item Over Four Thousand Unique Abilities
        li.item Real World Economics &amp; Player Governance
        li.item Complex, Original Combat of genre-defining intricacy
        li.item Dozens Of Professions, such as Druids, Paladins &amp; Seers
        li.item Warring City States &amp; Thrilling Military Strategy
        li.item Real Weather Systems and Unique Ecosystems
        li.item Thousands of Quests, Puzzles and Personal Goals
        li.item Dramatic Events, Heroic Personae:<br/> the ultimate text based game
        li.item A Free Environment for Roleplay and Making History
        li.item And so much more...

      center: a.ui.button(href="/play/") Play Now