extends layout

block head
  - var body = "index"
  link(rel="canonical", href="http://www.avalon-rpg.com/")

block content
  .ui.content
    .contain
      h1.ui.title.center Welcome to Avalon, the Legend Lives
      h4.ui.sub.title.center The first &amp; only game world of its kindn
  
  .ui.content(style="margin-top: 75px;")
    .contain.large
      .ui.grid
        .row
          .eight.column.wide
            p.lead Welcome to Avalon, the most detailed, original and immersive text based game on the internet. In existence for over two decades, it is also one of the oldest RPGs. It has evolved consistently over this time, boasting the highest standards; as a multiplayer online RPG text based game, it's unparalleled in its creativity and diversity. Only by your own merits can you rise above the rest and only the best ascend to the stars, becoming one of the all-powerful immortals. Are you ready to make history in this breathtaking world of legendary Avalonians and Gods?
            blockquote.big.center
              p Avalon is probably the largest and most complex multi-user online RPG ever.
          .eight.column.wide
            form(method="post", action="http://www.avalon-rpg.com/lumiere/index.html").ui.form.box.compact
              h3.ui.title.underline Create a new Avalon character
                a(href="/play/").right.label Existing players
              .error.message.solid.box.compact.ui
              .field.user
                .ui.input
                  label(for="create-username") Character Name
                  input#create-username(type="text", name="username", class="validate[required,custom[onlyLetter],length[3,18]]")
              .two.fields
                .field
                  .ui.input
                    label(for="create-password") Password
                    input#create-password(type="password", name="password", class="validate[required,custom[noSpace],length[3,50]] text-input")
                .field
                  .ui.input
                    label(for="create-confirmpass") Confirm Password
                    input#create-confirmpass(type="password", name="confirmpass", class="validate[required,confirm[create-password]] text-input")
              .field
                .ui.input
                  label(for="create-email") Email
                  input#create-email(type="text", name="email")
              .three.fields
                .field Gender
                .field.inline
                  input#male(type="radio", name="gender", value="male", checked="checked")
                  label(for="male") Male
                .field.inline
                  input#female(type="radio", name="gender", value="female")
                  label(for="female") Female
              input(type="hidden", name="run", value="lumiere", checked="checked")
              input(type="hidden", name="create", value="yes")
              input(type="hidden", name="loginkey", value="")
              button.ui.button.save.fluid(style="margin-top: 16px;") Create a new character
  
        .row
          .eight.wide.column
            h2.ui.title.underline Avalon Text Based Game: Latest Events in Society
            for update in recent
              blockquote
                cite #{update.item}
                p #{update.date}
            a(style="margin-top:20px;", href="/news/").ui.button.fluid More News
          .eight.wide.column
            .ui.box.blue.compact
              p You may also look at a specific help page by typing its name below:
              form(action="/help/search")
                p HELP 
                  input(type="text" name="page" size="50", list="pages")
                  input(type="submit" value="Go")
            h3.ui.title Information
            ul.ui.menu.social.vertical
              li: a(href="/help/").item Help
              li: a(href="/news/").item News
              li: a(href="/history/").item History
              li: a(href="/bb/").item Bulletin Boards
            h3.ui.title Links
            ul.ui.menu.social.vertical
              li: a(href="http://www.meetplace.net/").item Meetplace Community
              li: a(href="/vote.html").item Vote to Support Us
              li: a(href="https://www.facebook.com/pages/Avalon-the-Legend-Lives-Game-Page/184129298274122").facebook.social.item Facebook
              li: a(href="https://twitter.com/avalononlinerpg").twitter.social.item Twitter


  .ui.content.section
    .contain.large
      .ui.grid.responsive
        .eight.column.wide
          h3.ui.title Over Twenty-Five Years of Development
          p Text based games started with MUD and just after, in 1989, Avalon came online as the first multiplayer text based game. Its innovation, sophistication, ease of play and beauty are even acknowledged as a novel by UK Copyright law.
        .eight.column.wide
          h3.ui.title The First Online Text Based Game with guilds, cities:<br/> total world simulation
          p Avalon is the first text based game to invent the idea of player control, cities, guilds, unique skills and a sense of 'better than life' simulation of reality. Everything follows the rule of credibility.
   .ui.content.section
     .contain.large
       .ui.grid.responsive
         .eight.column.wide
           h3.ui.title Over Four Thousand Unique Abilities
           p Avalon remains since 1989 the most sophisticated online text based RPG, well beyond any graphical variation, to have so hundreds of abilities shared, hundreds for each profession, many professions to choose, each with their own style of play, all finely balanced. To list them would be as large as a dictionary of Sindarin by J.R.R. Tolkien.
         .eight.column.wide
           h3.ui.title Real World Economics &amp; Player Governance
           p Economics are both player, warfare and village produced, creating a real economic system of fluctuating price in which players may become merchants of incredible wealth.
   .ui.content.section
     .contain.large
       .ui.grid.responsive
         .eight.column.wide
           h3.ui.title Complex, Original Combat of genre-defining intricacy
           p Players may master combat between each other for pride and city! Avalon invented and continues to sophisticate its crowning beauty, equilibrium and balance based combat between professions, incredibly fine tuned such that there is no more powerful, only the more imaginative and adept.
         .eight.column.wide
           h3.ui.title Dozens Of Professions, such as Druids, Paladins &amp; Seers
           p Players may become masters of their class! Avalon created the idea of professions equally matched and in the last five years further expanded this original concept to specialisations, where a player may choose within a profession distinct paths different in their playing style and gaming experience.

   .ui.content.section
     .contain.large
       .ui.grid.responsive
         .eight.column.wide
           h3.ui.title Warring City States &amp; Thrilling Military Strategy
           p Players may become master generals. Avalon first introduced before graphics existed simple warfare, that has now become infinitely varied, simple to master but worldwide and intensely vicious between cities. There are legion abilities based on their type, skill training, marching, 3D depth, trenches, tunnels, mines, mortars and archers, formations and far more against which no other warfare game online text based or graphical could compare.
         .eight.column.wide
           h3.ui.title Real Weather Systems and Unique Ecosystems
           p Avalon invented sophisticated ecosystems of many dimensions with skies, air densities, gravity, flora of great variety, many types of trees and forestal implications.
   .ui.content.section
     .contain.large
       .ui.grid.responsive
         .eight.column.wide
           h3.ui.title Thousands of Quests, Puzzles and Personal Goals
           p Not only are there thousands of quests, puzzles and personal goals since Avalon began, players may create in this text based game their own quests with a simple system to share ideas of adventure.
         .eight.column.wide
           h3.ui.title Dramatic Events, Heroic Personae:<br/> the ultimate text based game
           p With over 25 years of history, Avalon has no parallel: great warlords, merchants, labourers, thieves, princes, barons, politicians, healing druids of legend, and the pinnacle of all mortals, those who have so mastered the realm to have become gods!
   .ui.content.section
     .contain.large
       .ui.grid.responsive
         .eight.column.wide
           h3.ui.title A Free Environment for Roleplay and Making History
           p Avalon is a text based RPG beloved of its long-playing members who are free to make history as they choose. The only limit is oneself: you cannot buy advantage or expect from the gods favouritism. Passions run high in this world of mortals and gods, there are no limits to what can be done!
         .eight.column.wide
           h3.ui.title And so much more...
           p The only way to know the finest text based game ever made is to plunge into the deep. Will you be the next to rise into the Pantheon?

       a(style="margin-top:20px;", href="/play/").ui.button.fluid Play Now
