doctype html
html
  head
    include includes/meta
    block head
    include includes/seo
    link(rel='stylesheet', href='/css/style.css')
  body(class=body)
    include includes/topbar
    .ui.header
        a(href="/"): img.logo(src="/img/logo.png")
    block content
    include includes/footer
    script(type="text/javascript", src="/js/jquery.min.js")
    block scripts