doctype html
html
  head
    include includes/meta
    block head
    include includes/css
    include includes/seo
    include includes/gtm
  body(class=body)
    .container
      include includes/topbar
      block header
        .ui.header
          .logo-wrap
            a(href="/", id="top"): img.logo(src="/img/logo.png", alt=avalon.website.alt.header, title=avalon.website.alt.header)
      block content
      include includes/footer
    include includes/sidebar
    script(type="application/javascript", src="/js/jquery.min.js")
    script(type="application/javascript", src="/js/hammer.js")
    script(type="application/javascript", src="/js/menu.js")
    script(type="application/javascript", src="/js/main.js")
    block scripts