doctype html
html
  head
    include includes/meta
    block head
    include includes/css
    include includes/seo
    include includes/gtm
  body(class=body)
    include includes/topbar
    block header
      .ui.header
        .logo-wrap
          a(href="/"): img.logo(src="/img/logo.png")
    block content
    include includes/footer
    script(type="text/javascript", src="/js/jquery.min.js")
    script.
      $(function() {
        $(".ui.button.google.plus").attr("href", "https://plus.google.com/share?url="+window.location.href)
      })
    block scripts