/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   --------------
 *
 *   Contributors:
 *   - Illyism
 */
 


@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700,900);

/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   -----RESET-----
 */
 

html, body {
	border: 0;
	font-family: "Alegreya", "Times New Roman", "Times", serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

// -----------------------------
// --------_------|----_--------
// -------(_|\/(_||(_)| |-------
// ----------VARIABLES----------
// -----------------------------

@width_max: 1024px;
@col_primary: #2ba6cb;
@col_foreground: #fff;
@col_background: #13161A;
@col_footer: #2b1e0a;

@col_red: #FF2F2F;
@col_orange: #FF8B2F;
@col_yellow: #FFF32F;
@col_green: #85F02C;
@col_cyan: #7cdede;
@col_blue: @col_primary;
@col_purple: #7F35D3;

@large_responsive:   ~"only screen and (max-width: 1280px)"; // smaller than contain.large
@desktop:   ~"only screen and (min-width: 1024px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1023px)";
@phone: 	~"only screen and (max-width: 719px)";




/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   -----GENERAL---
 */

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: @col_background;
	color: @col_foreground;
}

a {
	color: @col_primary;
	text-decoration: none;
	font-weight: 700;
	&:visited {
		color: darken(@col_primary, 15%);
	}
	&:hover, &:focus {
		color: lighten(@col_primary, 20%);
		text-decoration: underline;
	}
}

b, strong, .bold {
	font-weight: 700;
}

em {
	font-weight: 400;
	font-style: italic;
}

p {
	margin: 1em 0em;
	&.lead {
		font-size: 1.2em;
	}
}

::selection, mark {
	background: @col_primary;
	color: @col_foreground;
}
::-moz-selection {
	background: @col_primary;
	color: @col_foreground;
}

ul {
	list-style: inside;
}


/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   ------UI-------
 */
 
.contain {
	max-width: @width_max;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
	&.large {
		max-width: 1280px;
		@media @large_responsive {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	@media @tablet {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media @phone {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   ---TYPOGRAPHY---
 */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.ui.title {
	&.center, &.centre {text-align: center;}
	&.underline {
		padding: .2em 0;
		margin: .2em auto;
		border-bottom: 1px dotted fade(@col_primary, 50%);

		&.red, &.error { 	border-color: @col_red;}
		&.orange { 			border-color: @col_orange; }
		&.yellow, &.notice{	border-color: @col_yellow;}
		&.green { 			border-color: @col_green; }
		&.cyan { 			border-color: @col_cyan; }
		&.blue, &.help {	border-color: @col_blue; }
		&.purple { 			border-color: @col_purple; }
		&.dotted {border-style: dotted;}
		&.solid {border-style: solid;}
	}
	& + p {
		margin-top: 0;
	}
	&.sub {
		margin-top: 0px;
		padding-top: 0px;
	}
	.right.label {
		float: right;
		display: inline;
		@media @phone {
			float: none;
			display: block;
		}
		&.expand {
			cursor: pointer;
			&.active {color: #fff;}
		}
	}
}

blockquote {
	border-left: 4px solid @col_primary;
	padding: 0 15px;
	color: darken(@col_foreground, 20%);
	quotes: auto;
	p {
		&:before {
			content: "“";
		}
		&:after {
			content: "”";
		}
	}
	cite {
		font-weight: bold;
		font-style: italic;
		a {
			color: darken(@col_foreground, 20%); 
		}
	}
	&.big {
		font-size: 1.5em;
		cite {
			font-size: .8em;
		}
	}
	&.center {
		text-align: center;
		border-left: none;
		p {
			margin-bottom: 0px;
		}
	}
}

span.small, font.small {
	font-size: .8em;
}

/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   -----BLOCKS----
 */
 

.ui.header {
	background: url(../img/bg.jpg) center bottom;
	margin-bottom: -175px;
	width: 100%;
	height: 420px;
	background-size: cover;
	padding-top: 42px;
	text-align: center;

	.menu {
		background: rgba(10, 10, 10, 1);
		.item {
			padding: 30px 20px;
			cursor: pointer;
		}
	}
	.logo {
		height: 150px;
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

.ui.footer {
	background: #e6dfd2;
	background: url("/img/footer.jpg") 100% 100%;
	background-size: cover;
	position: relative;
	color: lighten(@col_footer, 30%);
	min-height: 300px;
	padding: 20px 0;
	margin-top: 100px;
	.ui.title {
		font-weight: 400;
		color: @col_footer;
		border-color: @col_footer;
	}
	b {
		color: @col_footer;
	}
	::selection, mark {
		background: @col_footer;
		color: @col_foreground;
	}
	::-moz-selection {
		background: @col_footer;
		color: @col_foreground;
	}

}

.ui.topbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 100000;

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzYzYSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(52,54,58,0.9) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,54,58,0.9)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(52,54,58,0.9) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(52,54,58,0.9) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(52,54,58,0.9) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(52,54,58,0.9) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc34363a', endColorstr='#e6000000',GradientType=0 ); /* IE6-8 */

	border-bottom: 1px solid fade(@col_primary, 50%);
	box-shadow: 0px 2px 2px rgba(00, 0, 0, 0.8);

	.menu .item {
		padding: 10px .5em;
		i.icon {
			margin-right: 0px;
			padding-left: 5px;
		}
	}

	.menu .item.playnow {
		color: rgb(73,192,240);
		color: rgba(73,192,240 ,.8);
		font-weight: 700;
		cursor: pointer;
		&:hover {
			color: lighten(rgb(73,192,240), 10%);
		}
	}
	.mobile.menu {display: none;}
	@media @phone {
		.desktop.menu {display: none;}
		.mobile.menu {
			display: block;
			.dropdown .menu {
				background: #000;
			}
		}
	}
	@media @tablet {
		.ui.menu.tiny.very .item {
			font-size: 12px;
		}
	}
}

.ui.content {
	&.margin {
		padding: 75px 0;
	}
	&.margin-top {
		margin-top: 75px;
		@media @tablet, @phone {margin-top: 00px;}
	}
}

body.index {
	.ui.footer {
		 margin-top: 0px;
	}
	.ui.content{
		&.section {
			padding: 115px 0;
			@media @desktop {
				border-bottom: 1px solid lighten(@col_background, 10%);
				background: lighten(@col_background, 1%);
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) inset;
				&:nth-child(even) {
					background: lighten(@col_background, 2%);
				}
				&:last-child {
					background: transparent;
				}
			}
			.title {
				margin-bottom: .2em;
			}
			@media @tablet, @phone {
				padding: 0 0;
				.eight.wide.column {
					padding: 50px 0;
					border-bottom: 1px solid lighten(@col_background, 10%);
					box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) inset;
				}
			}
			.playnow {
				margin-top:20px;
				box-shadow: none;
				&:hover {box-shadow: none;}
				@media @phone, @tablet {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.ui.manual, .ui.bb {
	span.to {
		color: #ccc;
		a {color: #ccc;}
	}
	.text.help, .text.bb {
		p {
			margin: 0px;
		}
		table {
			width: 100%;
		}
	}
	.text.help.markdown {
		p {
			margin: 1em auto;
		}
		pre {
			background: #070A0F;
			color: #c5c8c6;
			padding: 1em;
		}
		h1,h2,h3,h4,h5,h6 {
			margin-top: 1em;
		}
	}
	.bread {
		text-align: center;
		.icon {
			margin: auto 5px;
		}
	}
}


/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   ------BOX-------
 */
 

.ui.box {
	margin: 1em auto;
	border: 1px dashed @col_foreground;
	padding: 20px 30px;
	background: rgb(22, 30, 34);

	&.red, &.error { 	border-color: @col_red;}
	&.orange { 			border-color: @col_orange; }
	&.yellow, &.notice{	border-color: @col_yellow;}
	&.green { 			border-color: @col_green; }
	&.cyan { 			border-color: @col_cyan; }
	&.blue, &.help {	border-color: @col_blue; }
	&.purple { 			border-color: @col_purple; }

	&.dotted {border-style: dotted;}
	&.solid {border-style: solid;}

	&.compact {
		padding: 10px 15px;
		&.very {
			padding: 5px 8px;
		}
	}
	&.inverted {
		border-color: transparent;
		background: @col_foreground;
		color: @col_background;
		&.red, &.error { 	background: @col_red;}
		&.orange { 			background: @col_orange; }
		&.yellow, &.notice{	background: @col_yellow;}
		&.green { 			background: @col_green; }
		&.cyan { 			background: @col_cyan; }
		&.blue, &.help {	background: @col_blue; }
		&.purple { 			background: @col_purple; }
	}
}


/*    _    _ | _ ._ 
 *   (_|\/(_||(_)| |
 *   -----GRIDS-----
 */
 
.ui.grid {
	clear: both;
	overflow: hidden;
	.row {
		display: block;
		clear: both;
		overflow: hidden;
		margin: 2em auto;
	}
	.column {
		float: left;
		width: 50%;
		padding: 0.5em;
	}
	&.compact .column {
		padding: 0;
	}

	&.columns.one .column { 	 width: 100%; }
	&.columns.two .column { 	 width: percentage(1/2); }
	&.columns.three .column { 	 width: percentage(1/3); }
	&.columns.four .column { 	 width: percentage(1/4); }
	&.columns.five .column { 	 width: percentage(1/5); }
	&.columns.six .column { 	 width: percentage(1/6); }
	&.columns.seven .column { 	 width: percentage(1/7); }
	&.columns.eight .column { 	 width: percentage(1/8); }
	&.columns.nine .column { 	 width: percentage(1/9); }
	&.columns.ten .column { 	 width: percentage(1/10); }
	&.columns.eleven .column { 	 width: percentage(1/11); }
	&.columns.twelve .column { 	 width: percentage(1/12); }
	&.columns.thirteen .column { width: percentage(1/13); }
	&.columns.fourteen .column { width: percentage(1/14); }
	&.columns.fifteen .column {	 width: percentage(1/15); }
	&.columns.sixteen .column {	 width: percentage(1/16); }

	.column.wide {
		&.one { 	 width: percentage(1/16); }
		&.two { 	 width: percentage(2/16); }
		&.three { 	 width: percentage(3/16); }
		&.four { 	 width: percentage(4/16); }
		&.five { 	 width: percentage(5/16); }
		&.six { 	 width: percentage(6/16); }
		&.seven { 	 width: percentage(7/16); }
		&.eight { 	 width: percentage(8/16); }
		&.nine { 	 width: percentage(9/16); }
		&.ten { 	 width: percentage(10/16); }
		&.eleven { 	 width: percentage(11/16); }
		&.twelve { 	 width: percentage(12/16); }
		&.thirteen { width: percentage(13/16); }
		&.fourteen { width: percentage(14/16); }
		&.fifteen {	 width: percentage(15/16); }
		&.sixteen {	 width: 100%; }
	}

	&.responsive {
		@media @tablet, @phone {
			width: 100%;
			.column, .wide.column, &.columns .column {
				width: 100%;
			}
		}
	}
}

/*    _    _ | _ _ 
 *   (_|\/(_||(_)| |
 *   -----MENU------
 */
	.ui.menu {
		display: block;
		font-size: 0;
		&.fluid {
			width: 100%;
		}
		li {display: inline-block;}
		.item {
			display: inline-block;
			padding: .5em;
			color: rgba(255, 255, 255, .8);
			text-decoration: none;
			-webkit-transition: background 0.2s;
			-moz-transition: background 0.2s;
			transition: background 0.2s;
			font-size: 16px;
			a {
				color: rgba(255, 255, 255, .8);
				text-decoration: none;
				&:hover {
					color: rgba(255, 255, 255, 1);
				}
			}
			&:hover, &:focus {
				color: rgba(255, 255, 255, 1);
				background: rgba(255, 255, 255, .05);
			}
			&.active {
				color: rgba(255, 255, 255, 1);
				background: rgba(255, 255, 255, .05);
				&:hover, &:focus {
					color: rgba(255, 255, 255, 1);
					background: rgba(255, 255, 255, .05);
				}
			}
		}
		&.simple {
			a {font-weight: normal;}
			.item:hover, .item:focus {
				background: transparent;
			}
		}
		&.center {
			text-align: center;
		}
		&.tiny {
			.item {font-size: 14px;}
			
			&.very {
				.item {font-size: 13px;}
			}
		}
		&.vertical {
			.item, li {
				display: block;
			}
		}
		.menu {
			&.left {
				float: left;
			}
			&.right {
				float: right;
			}
		}
		&.underline {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid rgba(255, 255, 255, .1);
		}
		.head {
			margin: 1em auto .5em;
			color: #000;
		}
		&.dotted {
			.item {
				text-indent: -.2em;
				&:before {
					content: " ◦ ";
					margin-right: .2em;
					color: rgba(255, 255, 255, .5);
				}
				&:hover {
					background: inherit;
					&:before {
						content: " • ";
						color: rgba(255, 255, 255, 1);
					}
				}
			}
		}
		&.numbered {
			li {
				font-size: 16px;
				display: list-item;
				list-style-position: inside;
			}
		}
		&.social {
			
			.item {
				&.twitter {
					&:focus, &:hover {
						color: #4092CC;
						background-color: fade(#4092CC, 10%);
					}
				}
				&.facebook {
					&:focus, &:hover {
						color: #3b5998;
						background-color: fade(#3b5998, 10%);
					}
				}
				&.gplus {
					&:focus, &:hover {
						color: #d34836;
						background-color: fade(#d34836, 10%);
					}
				}
			}
		}
		&.inverted {
			.item {
				color: rgba(0, 0, 0, .5);
				&:hover, &:focus {
					color: rgba(0, 0, 0, 1);
					background: rgba(0, 0, 0, .05);
				}
				&.active {
					color: rgba(0, 0, 0, 0.8);
				}
			}
		}
	}

/*    _    _ | _ _ 
 *   (_|\/(_||(_)| |
 *   ----BUTTONS----
 */

.ui.button {
	background: transparent;
	color: #fafafa;
	box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset;
	font-weight: 400;
	margin: 0em 0.25em 0em 0em;
	padding: 0.8em 1.5em 0.8em;
	text-decoration: none;
	border-radius: 0.2857rem;
	font-size: 1rem;
	cursor: pointer;
	-webkit-transition: color 0.2s, box-shadow 0.2s;
	-moz-transition: color 0.2s, box-shadow 0.2s;
	transition: color 0.2s, box-shadow 0.2s;
	&.fluid {
		width: 100%;
		display: block;
		text-align: center;
	}
	&:hover, &:active {
		box-shadow: 0px 0px 0px 2px @col_primary inset;
		color: @col_primary;
	}
	&.blue, &.yellow {
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		transition: color 0.2s, background 0.2s;
		box-shadow: none;
	}
	&.blue {
		background: rgb(73,155,234); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-8 */

		&:hover, &:active {
			color: #fff;
			box-shadow: none;
			background: rgb(110,176,238); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlYjBlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTk3ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(110,176,238,1) 0%, rgba(78,151,234,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,176,238,1)), color-stop(100%,rgba(78,151,234,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(110,176,238,1) 0%,rgba(78,151,234,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(110,176,238,1) 0%,rgba(78,151,234,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(110,176,238,1) 0%,rgba(78,151,234,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(110,176,238,1) 0%,rgba(78,151,234,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb0ee', endColorstr='#4e97ea',GradientType=0 ); /* IE6-8 */

		}
	}
}

/*    _    _ | _ _ 
 *   (_|\/(_||(_)| |
 *   ----DROPDOWN---
 */

 .ui.dropdown {
 	position: relative;
 	.menu {
	 	cursor: auto;
	 	position: absolute;
	 	display: none;
	 	top: 100%;
	 	margin: 0;
	 	background-color: rgba(0, 0, 0, 0.8);
	 	border-bottom: 1px solid fade(@col_primary, 50%);
	 	box-shadow: 0px 2px 2px rgba(00, 0, 0, 0.8);
	 	min-width: 100%;
	 	white-space: nowrap;
	 	font-size: .875em;
	 	text-shadow: none;
	 	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
	 	box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
	 	border-radius: 0 0 .325em .325em;
	 	-webkit-transition: opacity .2s ease;
	 	-moz-transition: opacity .2s ease;
	 	transition: opacity .2s ease;
	 	z-index: 50000;

	 	display: block;
	 	overflow: hidden;
	 	top: -9999px!important;
	 	position: absolute;
	 	opacity: 0;
	 	width: 0;
	 	height: 0;
	 	-webkit-transition: opacity .2s ease-out;
	 	-moz-transition: opacity .2s ease-out;
	 	transition: opacity .2s ease-out;
	 	left: 0px;
	 	.item {
	 		width: 100%;
	 		color: rgba(255,255,255,.75);
	 		cursor: pointer;
	 		border: none;
	 		border-top: 1px solid rgba(0,0,0,.05);
	 		height: auto;
	 		display: block;
	 		padding: .85em 1em!important;
	 		font-size: .875rem;
	 		text-transform: none;
	 		font-weight: 400;
	 		text-align: left;
	 		-webkit-touch-callout: none;
	 	}
 	}

 	&:hover .menu {
 		overflow: visible;
 		width: auto;
 		height: auto;
 		top: 100%!important;
 		opacity: 1;
 	}
 }


/*    _    _ | _ _ 
 *   (_|\/(_||(_)| |
 *   -----TABLES-----
 */
 

.ui.table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1em;
	&.hidden {display: none;}
}

/*    _    _ | _ _ 
 *   (_|\/(_||(_)| |
 *   ----EXTERNAL----
 */
 
@import "icons.less";
@import "input.less";
