extends ../layout

block head
  - var title = message || "Error";

block content
  .ui.content
    .contain
      h2.ui.title= message
      h4.ui.sub.title.center.underline= error.status
      p: pre #{error.stack}
      if error && Object.keys(error).length > 0
        p: pre #{JSON.stringify(error, null,2)}