extends ../layout

block head
  - var title = "The help file '" + page + "'' was not found"

block content
  .ui.content
    .contain
      h2.ui.title.center.underline= "The help file '" + page + "' was not found."
      
      .ui.box
        h2.ui.title Perhaps you meant to view one of these?
        .ui.menu.vertical
          for match in matches
            a.item(href="/help/pages/" + match) #{match}
