extends ../layout

block content
  .ui.content
    .contain
      h1.ui.title.center Introduction to Avalon
      p.lead From the first moment you enter Avalon, you embark upon a journey into the imagination. To help you along, a table of contents has been put together for newbie convenience. Read through these sections carefully, young padawan. It is a summary of all things a new player needs to know and will <em>immeasurably</em> aid your first steps in Avalon.
      include list
      p These few introductory pages are not intended as a full introduction to Avalon, only experiencing the land for yourself can fully prepare you for what is in store. Instead, it is hoped they will help those new to the land by supplementing the on-line 
        a(href='/help/') HELP
        |  that is constantly available and by providing a glimpse of the possibilities open to all players.
      p After reading through these sections, you have now concluded the Avalon Intro section and adventure awaits you in-game! There is no time to waste, 
        a(href='/play/') PLAY NOW
        |  in our web-based browser!
