ol.ui.menu.vertical.numbered
  li: a.item(href='/intro/beginner-handbook') Beginner's Handbook
  li: a.item(href='/intro/character-building') Character Building
  li: a.item(href='/intro/skills') Skills
  li: a.item(href='/intro/locations-and-movement') Locations and Movement
  li: a.item(href='/intro/the-continent-of-avalon') The Continent Of Avalon
  li: a.item(href='/intro/the-cityports') The Cityports
  li: a.item(href='/intro/communicating') Communicating
  li: a.item(href='/intro/items-and-manipulating-them') Items and Manipulating Them
  li: a.item(href='/intro/computer-controlled-characters') Computer Controlled Characters
  li: a.item(href='/intro/guilds') Guilds
  li: a.item(href='/intro/the-command-environment') The Command Environment
  li: a.item(href='/intro/about-avalon') About Avalon
  li: a.item(href='/intro/the-meeting-place') The Meeting Place
