extends ../layout

block content
  .ui.content
    .contain
      h1.ui.title.center= page
      p.lead rom the first moment you enter Avalon, you embark upon a journey into the imagination. To help you along, a table of contents has been put together for newbie convenience. Read through these sections carefully, young padawan. It is a summary of all things a new player needs to know and will <em>immeasurably</em> aid your first steps in Avalon.
      ol.ui.menu.vertical.numbered
        li: a.item(href='/intro/beginner-handbook') Beginner's Handbook
        li: a.item(href='/intro/character-building') Character Building
        li: a.item(href='/intro/skills') Skills
        li: a.item(href='/intro/locations-and-movement') Locations and Movement
        li: a.item(href='/intro/the-continent-of-avalon') The Continent Of Avalon
        li: a.item(href='/intro/the-cityports') The Cityports
        li: a.item(href='/intro/communicating') Communicating
        li: a.item(href='/intro/items-and-manipulating-them') Items and Manipulating Them
        li: a.item(href='/intro/computer-controlled-characters') Computer Controlled Characters
        li: a.item(href='/intro/guilds') Guilds
        li: a.item(href='/intro/the-command-environment') The Command Environment
        li: a.item(href='/intro/about-avalon') About Avalon
        li: a.item(href='/intro/the-meeting-place') The Meeting Place
      p These few introductory pages are not intended as a full introduction to Avalon, only experiencing the land for yourself can fully prepare you for what is in store. Instead, it is hoped they will help those new to the land by supplementing the on-line 
        a(href='/help/') HELP
        |  that is constantly available and by providing a glimpse of the possibilities open to all players.
      p After reading through these sections, you have now concluded the Avalon Intro section and adventure awaits you in-game! There is no time to waste, 
        a(href='/play/') PLAY NOW
        |  in our web-based browser!
