extends ../layout

block content
  .ui.content
    .contain
      h2.ui.title.center.underline Rollcall
      p.lead Here you may find a roll-call of Avalon's cast of characters; both the illustrious and the unknown.
