extends ../layout

block head
  if status == "god"
    - var _title = "Deities of Avalon"
    - var _description = avalon.website.rollcall.god.description
    - var _keywords = avalon.website.rollcall.god.keywords
    - var canonical = "http://www.avalon-rpg.com/rollcall/deities/"
  else if city
    - var _description = avalon.website.rollcall.city.description + " - " + avalon.website.rollcall.index.description
    - var _keywords = avalon.website.rollcall.city.keywords
    if city != "No Citizenship"
      - var _title = "Citizens of " + city
    else
      - var _title = "Stateless Avalonians";
    - var canonical = "http://www.avalon-rpg.com/rollcall/city/"+city.toLowerCase()
  else if guild
    - var _description = avalon.website.rollcall.guild.description + " - " + avalon.website.rollcall.index.description
    - var _keywords = avalon.website.rollcall.guild.keywords
    if guild != "No Guild"
     - var _title = "Members of the " + guild + " Guild"
    else
      - var _title = "Guildless Avalonians"
    - var canonical = "http://www.avalon-rpg.com/rollcall/guild/"+guild.toLowerCase()
  else if order
    - var _description = avalon.website.rollcall.order.description + " - " + avalon.website.rollcall.index.description
    - var _keywords = avalon.website.rollcall.order.keywords
    if order != "No Order"
     - var _title = "Order of " + order
    else
      - var _title = "Orderless Avalonians"
    - var canonical = "http://www.avalon-rpg.com/rollcall/order/"+order.toLowerCase()
  else
    - var _description = avalon.website.rollcall.index.description
    - var _keywords = ""
    - var _title = "Avalon's cast of characters"
    - var canonical = "http://www.avalon-rpg.com/rollcall/list"
  - var title = mkTitle(_title, "Rollcall")
  - var description = _title + " - " + _description
  - var keywords = mkKeywords(_keywords + ", " + avalon.website.rollcall.index.keywords)

block content
  .ui.content.rollcall
    .contain
      h2.ui.title.center.underline #{_title}
      h4.ui.title.center: a(href="/rollcall") Back to Rollcall

      table.ui.table.box
        thead
          tr
            th Title
            if !status
              if !city
                th City
              if !guild
                th Guild
              if !order
                th Order
              if order
                th Order Status
        tbody
          for person in list
            tr
              - var title = person.title.replace(person.name, "<a href='/rollcall/characters/"+person.name.toLowerCase()+"''>"+person.name+"</a>")
              td !{title}
              if !status
                if !city
                  if (person.city != "god")
                    td: a(href="/rollcall/cities/"+person.city)= person.city
                  else
                    td: a(href="/rollcall/deities") God
                if !guild
                  td: a(href="/rollcall/guilds/"+person.guild)= person.guild
                if !order
                  td: a(href="/rollcall/orders/"+person.order)= person.order
                if order
                  td= person.orderlevel