extends ../layout
include ../includes/bb

block head
  - var title = mkTitle("Bulletin Boards");
  - var description = avalon.website.bb.index.description;
  - var keywords = mkKeywords(avalon.website.bb.index.keywords);
  - var canonical = "http://www.avalon-rpg.com/bb/";

block content
  .ui.content.bb
    .contain
      h2.ui.title.center.underline #{meta.title}
      p.lead #{meta.summary}
      .section.bb.ui.box
        .ui.grid.responsive.two.columns
          for board in boards
            .column
              h4.ui.title: a(href="/bb/" + board.url + "/") #{board.title} BB
              | #{board.hint}
         