extends ../layout
include ../includes/bb

block head
  - var title = "Bulletin Boards - Avalon Online RPG"
  link(rel="canonical", href="http://www.avalon-rpg.com/bb/")

block content
  .ui.content.bb
    .contain
      h2.ui.title.center.underline Bulletin Boards
      p.lead The Avalon bulletin board is a method for all Avalonians to maintain contact with each other. It should be used for notices and messages  relating to world-wide issues and as a convenient method for Cities, Guilds and Orders to speak to the assembled masses.

      .section.bb
        .ui.grid.responsive.two.columns
          for board in boards
            .column
              h4.ui.title: a(href="/bb/" + board.url + "/") #{board.title} BB
              | #{board.hint}
         